body {
    font-family: "Open Sans", sans-serif;
    color: #444444;
  }
  
  a {
    text-decoration: none;
    color: #5cb874;
  }
  
  a:hover {
    color: #80c792;
    text-decoration: none;
  }
  
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: "Raleway", sans-serif;
  }
#header {
    background: #fff;
    transition: all 0.5s;
    z-index: 997;
    height: 50px;
  }
  
  #header.header-scrolled {
    box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
  }
  
  #header .logo {
    font-size: 30px;
    margin: 0;
    padding: 0;
    line-height: 1;
    font-weight: 700;
    letter-spacing: 1px;
    text-transform: uppercase;
  }
  
  #header .logo a {
    color: #5cb874;
  }
  
  #header .logo img {
    max-height: 40px;
  }
  
  .scrolled-offset {
    margin-top: 70px;
  }
  .navbar {
    padding: 0;
  }
  
  .navbar ul {
    margin: 0;
    padding-left: 150px;
    display: flex;
    list-style: none;
    align-items: center;
  }
  
  .navbar li {
    position: relative;
    padding-left: 30px;
  }
  
  .navbar a,
  .navbar a:focus {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0 10px 30px;
    font-size: 25px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 500;
    color: #222222;
    white-space: nowrap;
    transition: 0.3s;
    text-decoration: none;
  }
  
  .navbar a i,
  .navbar a:focus i {
    font-size: 25px;
    line-height: 0;
    margin-left: 55px;
    color: #222222;
  }
  
  .social-links a {
    color: #0c0c0c;
    padding: 4px 10px;
    display: inline-block;
    line-height: 1px;
    transition: 0.3s;
  }
  #home{
    text-align: center;
    background: linear-gradient(99deg, rgba(255,102,196,1) 0%, rgba(255,221,133,1) 100%);
    background-image: url(img/img1.jpg);
    background-size: cover;
    height:500px;
    width: 1500px;
    padding-top:250px;

  }
  .card-h {
    background-color: #f788a4;
    opacity: 0.8;
    box-shadow: 4px 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.2s;
    width: 30%;
    height: 40%;
    margin-left: 45px;
  }
  
  .card-h h3 {
    padding: 2px;
    margin: 8px 0;
    font-size: 35px;
    display: flex;
    color: #fff;
  }
  
  .card-h p{
    color: #fff;
    background-size: contain;
    text-align: left;
    display: flex;
    padding: 4px;
    line-height: 1.8;
  }

  #cart{
    background: linear-gradient(99deg, rgba(255,102,196,1) 0%, rgba(255,221,133,1) 100%);
  }

  .card__image{
	width:300px;
	height:120px;
}
div.cards {
  margin: 80px auto;
  max-width: 960px;
  text-align: center;
}

div.card {
  background: #fff;
  display: inline-block;
  margin: 8px;
  max-width: 300px;
  perspective: 1000;
  position: relative;
  text-align: left;
  transition: all 0.3s 0s ease-in;
  z-index: 1;
  border-color: #fff;
}

div.card img {
    max-width: 300px;
    max-height: 300px;
    border-radius:25px;
}

div.card-title {
    background: #fff;
    padding: 6px 15px 10px;
    position: relative;
    text-align: center;
    z-index: 0;
    font-size: 30px;
}
.btn{
    text-align: center;
    margin-top: 30px;
    padding:10px 20px;
    border-radius: 16px;
    font-size: 20px;
    display:inline-block;
    font-weight: bold;
    border-color: #8d8c8c;
    background-color: #8d8c8c;
}

  

    